<footer class="bg-gray-200">
    <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
    >
        <p
            class="text-base font-bold text-blue-500 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4"
        >
            © 2021 — Amit Deka
            <a
                href="https://twitter.com/AmitDeka10"
                class="text-green-500 ml-1 hover:text-green-600"
                rel="noopener noreferrer"
                target="_blank"
                >@AmitDeka10</a
            >
        </p>
        <span
            class="inline-flex font-normal sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
            >Made with
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-1 h-6 w-6 text-red-500"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
                <path
                    fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd"
                />
            </svg>
            in India
        </span>
    </div>
</footer>
