<header class="text-black body-font sticky top-0 bg-gray-100 shadow-lg">
    <div
        class="container mx-auto flex flex-wrap p-6 flex-col md:flex-row items-center"
    >
        <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
                viewBox="0 0 24 24"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"
                    />
                </svg>
            </svg>
            <span class="ml-3 text-xl">Tailwind CSS</span>
        </a>
        <nav
            class="md:ml-auto flex flex-wrap items-center font-medium text-base justify-center"
        >
            <a class="mr-5 hover:text-blue-600">First Link</a>
        </nav>
        <a
            href="https://tailwindcss.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center text-white font-bold bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded-md text-base mt-4 md:mt-0"
        >
            Tailwind CSS
            <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-1"
                viewBox="0 0 24 24"
            >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
</header>
